/* Custom styling resets and custom fonts for VTMCred */
@font-face {
  font-family: 'Europa Grotesk SH Bold';
  src: local('Europa Grotesk SH Bold'), local('EuropaGroteskSH-Bold');
}
@font-face {
  font-family: 'Europa Grotesk SH DemBol';
  src: local('Europa Grotesk SH DemBol'), local('EuropaGroteskSH-DemBol');
}

/* Custom background transition states */
html, body {
  background-color: #000000;
  color: #ffffff;
}
